[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
pyinstaller = "*"
pypiwin32 = "*"
pyside2 = "*"
pyyaml = "*"
pynput = "*"

[requires]
python_version = "3.7"
